# Laravel
/vendor
/node_modules

# Environment
.env
.env.local
.env.php
.env.backup

# Storage and cache
storage/*.key
storage/logs/*
storage/framework/*
bootstrap/cache/*

# Databases
database/*.sqlite
*.sqlite

# IDE / OS
.idea/
.DS_Store
Thumbs.db
*~
*.tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
